In [1]:
import pandas as pd
import numpy as np

## Load full data (bivariate)

In [5]:
path = 'bivariate_study'
data = '/bivariate_data'

times = [time[0] for time in pd.read_csv(path+'/output/LongitudinalMetricModel_absolute_times.txt', header=None).values]
memory = [score[0] for score in pd.read_csv(path+data+'/Y.csv', header=None).values]
hippocampus = [score[1] for score in pd.read_csv(path+data+'/Y.csv', header=None).values]
ids = [int(idx[0]) for idx in pd.read_csv(path+'/output/LongitudinalMetricModel_subject_ids.txt', header=None).values]

In [67]:
data = pd.DataFrame(index=[ids, times], columns=['memory', 'hippocampus'])
data['memory'] = memory
data['hippocampus'] = hippocampus
data.index.set_names(['ID','TIME'], inplace=True)
data['ID'] = data.index.get_level_values(0)
data['TIME'] = data.index.get_level_values(1)
data = data.set_index('ID')
data

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4     0.518444     0.375055  75.416328
4     0.466667     0.364087  75.882462
4     0.540667     0.382969  76.348595
4     0.511111     0.429288  77.747002
...        ...          ...        ...
1425  0.540667     0.242699  82.017731
1425  0.607333     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430  0.659333     0.774981  82.717415
1430  0.770444     0.804698  84.103500

[942 rows x 3 columns]

## Keep only the cognitive baseline

In [70]:
data_baseline = data.copy()

for sub in data.index.unique():
    sub_data = data.loc[sub]
    for visit in range(len(sub_data)):
        if visit:
            data_baseline['memory'].loc[sub].iloc[visit] = np.nan
    data_baseline.loc[sub] = sub_data.copy()

In [71]:
data_baseline

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4     0.518444     0.375055  75.416328
4     0.466667     0.364087  75.882462
4     0.540667     0.382969  76.348595
4     0.511111     0.429288  77.747002
...        ...          ...        ...
1425  0.540667     0.242699  82.017731
1425  0.607333     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430  0.659333     0.774981  82.717415
1430  0.770444     0.804698  84.103500

[942 rows x 3 columns]

In [91]:
# try to evaluate individual parameters from only the imaging data with only the baseline cognitive scores

data_baseline = data.copy()

for sub in data.index.unique(): 
    data_sub = data.loc[sub].copy()
    if type(data_sub) == pd.core.series.Series:
        continue
    for ses in range(len(data_sub)):
        if ses > 0:
            data_sub['memory'].iloc[ses] = np.nan
    data_baseline.loc[sub] = data_sub

In [92]:
data_baseline

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4          NaN     0.375055  75.416328
4          NaN     0.364087  75.882462
4          NaN     0.382969  76.348595
4          NaN     0.429288  77.747002
...        ...          ...        ...
1425       NaN     0.242699  82.017731
1425       NaN     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430       NaN     0.774981  82.717415
1430       NaN     0.804698  84.103500

[942 rows x 3 columns]

In [93]:
Y = data_baseline[['hippocampus', 'memory']].values

In [86]:
np.savetxt('Y_baseline.csv', Y, delimiter=',')

In [95]:
# try to evaluate individual parameters from only the imaging data with only the baseline cognitive scores

data_baseline = data.copy()

for sub in data.index.unique(): 
    data_sub = data.loc[sub].copy()
    if type(data_sub) == pd.core.series.Series:
        continue
    for ses in range(len(data_sub)):
        if ses > 0:
            data_sub['memory'].iloc[ses] = data_sub['memory'].iloc[0]
    data_baseline.loc[sub] = data_sub

In [96]:
Y = data_baseline[['hippocampus', 'memory']].values

In [97]:
np.savetxt('Y_baseline_duplicated.csv', Y, delimiter=',')

## Load the simulated_data

In [5]:
path = 'simulated_study'
data = '/simulated_data_5'

times = [time[0] for time in pd.read_csv(path+'/output/LongitudinalMetricModel_absolute_times.txt', header=None).values]
memory = [score[0] for score in pd.read_csv(path+data+'/Y.csv', header=None).values]
hippocampus = [score[1] for score in pd.read_csv(path+data+'/Y.csv', header=None).values]
ids = [int(idx[0]) for idx in pd.read_csv(path+'/output/LongitudinalMetricModel_subject_ids.txt', header=None).values]

In [67]:
data = pd.DataFrame(index=[ids, times], columns=['memory', 'hippocampus'])
data['memory'] = memory
data['hippocampus'] = hippocampus
data.index.set_names(['ID','TIME'], inplace=True)
data['ID'] = data.index.get_level_values(0)
data['TIME'] = data.index.get_level_values(1)
data = data.set_index('ID')
data

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4     0.518444     0.375055  75.416328
4     0.466667     0.364087  75.882462
4     0.540667     0.382969  76.348595
4     0.511111     0.429288  77.747002
...        ...          ...        ...
1425  0.540667     0.242699  82.017731
1425  0.607333     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430  0.659333     0.774981  82.717415
1430  0.770444     0.804698  84.103500

[942 rows x 3 columns]

## Delete random visits

In [70]:
data_baseline = data.copy()

for sub in data.index.unique():
    sub_data = data.loc[sub]
    for visit in range(len(sub_data)):
        if visit:
            data_baseline['memory'].loc[sub].iloc[visit] = np.nan
    data_baseline.loc[sub] = sub_data.copy()

In [71]:
data_baseline

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4     0.518444     0.375055  75.416328
4     0.466667     0.364087  75.882462
4     0.540667     0.382969  76.348595
4     0.511111     0.429288  77.747002
...        ...          ...        ...
1425  0.540667     0.242699  82.017731
1425  0.607333     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430  0.659333     0.774981  82.717415
1430  0.770444     0.804698  84.103500

[942 rows x 3 columns]

In [91]:
# try to evaluate individual parameters from only the imaging data with only the baseline cognitive scores

data_baseline = data.copy()

for sub in data.index.unique(): 
    data_sub = data.loc[sub].copy()
    if type(data_sub) == pd.core.series.Series:
        continue
    for ses in range(len(data_sub)):
        if ses > 0:
            data_sub['memory'].iloc[ses] = np.nan
    data_baseline.loc[sub] = data_sub

In [92]:
data_baseline

        memory  hippocampus       TIME
ID
4     0.407333     0.377389  74.950188
4          NaN     0.375055  75.416328
4          NaN     0.364087  75.882462
4          NaN     0.382969  76.348595
4          NaN     0.429288  77.747002
...        ...          ...        ...
1425       NaN     0.242699  82.017731
1425       NaN     0.267690  82.495964
1430  0.577778     0.745385  82.255379
1430       NaN     0.774981  82.717415
1430       NaN     0.804698  84.103500

[942 rows x 3 columns]

In [93]:
Y = data_baseline[['hippocampus', 'memory']].values

In [86]:
np.savetxt('Y_baseline.csv', Y, delimiter=',')

In [95]:
# try to evaluate individual parameters from only the imaging data with only the baseline cognitive scores

data_baseline = data.copy()

for sub in data.index.unique(): 
    data_sub = data.loc[sub].copy()
    if type(data_sub) == pd.core.series.Series:
        continue
    for ses in range(len(data_sub)):
        if ses > 0:
            data_sub['memory'].iloc[ses] = data_sub['memory'].iloc[0]
    data_baseline.loc[sub] = data_sub

In [96]:
Y = data_baseline[['hippocampus', 'memory']].values

In [97]:
np.savetxt('Y_baseline_duplicated.csv', Y, delimiter=',')