In [1]:
import numpy as np
import pandas as pd
import torch
import sys

sys.path.append('/home/benoit.sautydechalon/deformetrica')

from deformetrica.core.estimator_tools.samplers.srw_mhwg_sampler import SrwMhwgSampler
from deformetrica.core.estimators.gradient_ascent import GradientAscent
from deformetrica.core.estimators.mcmc_saem import McmcSaem
# Estimators
from deformetrica.core.estimators.scipy_optimize import ScipyOptimize
from deformetrica.core.model_tools.manifolds.exponential_factory import ExponentialFactory
from deformetrica.core.model_tools.manifolds.generic_spatiotemporal_reference_frame import GenericSpatiotemporalReferenceFrame
from deformetrica.core.models.longitudinal_metric_learning import LongitudinalMetricLearning
from deformetrica.core.models.model_functions import create_regular_grid_of_points
from deformetrica.in_out.array_readers_and_writers import read_2D_array
from deformetrica.in_out.dataset_functions import read_and_create_scalar_dataset, read_and_create_image_dataset
from deformetrica.support.probability_distributions.multi_scalar_normal_distribution import MultiScalarNormalDistribution
from deformetrica.support.utilities.general_settings import Settings
from deformetrica import estimate_longitudinal_metric_model
from deformetrica.in_out.array_readers_and_writers import *
from deformetrica.launch.estimate_longitudinal_metric_model import instantiate_longitudinal_metric_model
import deformetrica as dfca

[pyKeOps]: Warning, cuda was detected, but driver API could not be initialized. Switching to cpu only.

## 1. Loading the individual parameters and raw data

In [37]:
path = 'simulated_study'

In [40]:
rer = np.load(path+'/output_5/LongitudinalMetricModel__EstimatedParameters__IndividualRandomEffectsSamples.npy', 
              allow_pickle=True)[()]
trajectories = np.load(path+'/output_5/LongitudinalMetricModel__EstimatedParameters__Trajectory.npy',
       allow_pickle=True)[()]
ids = pd.read_csv(path+'/output_5/LongitudinalMetricModel_subject_ids_unique.txt', header=None).values

In [41]:
# First we put them in a dataframe for visualization purpose

ip = pd.DataFrame(columns=['tau','xi','source'], index=[int(idx[0]) for idx in ids])
ip['tau'] = rer['onset_age'].mean(axis=0)
ip['xi'] = rer['log_acceleration'].mean(axis=0)
ip['source'] = rer['sources'].mean(axis=0)

ip

          tau        xi    source
0   57.234959  0.013993  0.113005
1   75.403667 -0.635392 -0.013705
2   67.486395  1.067332  0.167432
3   76.939583 -0.438451 -0.009470
4   60.442647 -0.215578  0.011482
..        ...       ...       ...
95  62.383067 -0.442946 -0.000977
96  31.692327 -0.975841  0.248329
97  84.056978 -0.876157 -0.038796
98  75.402298 -0.021838 -0.175676
99  52.925874 -0.812402  0.063194

[100 rows x 3 columns]

In [5]:
# Then in the required format for the deformetrica model

rer['onset_age'] = rer['onset_age'].mean(axis=0)
rer['log_acceleration'] = rer['log_acceleration'].mean(axis=0)
rer['sources'] = np.array([[source] for source in rer['sources'].mean(axis=0)])
averaged_rer = rer
averaged_rer

{'onset_age': array([ 71.45334796,  60.87557225,  56.81096268,  85.67214893,
         60.32979066,  63.44964174, 103.9245966 ,  92.83191348,
         36.41627641,  51.62714774,  95.00884024,  71.06143529,
         51.87449329,  71.86792188,  64.54125897,  63.60018842,
         71.91099723,  53.02136603,  55.70486947,  62.01726054,
         64.97403875,  77.05698696,  89.44385608,  52.77783832,
         73.22491155,  63.43902417,  49.82094629,  80.53407046,
         45.01278505,  74.89388988,  53.77607442,  73.98949744,
         78.31879818,  52.21042872,  64.98824218,  62.66350842,
         18.50273555,  70.29188591,  79.44111999,  57.98627381,
         69.40226802,  65.38654428,  71.652016  ,  72.7549246 ,
         66.83158571,  80.38764051,  63.97023588,  73.29367736,
         65.62672296,  69.71439598,  46.22178902,  62.87569493,
         78.8170029 ,  54.49066882,  75.00747538,  58.59942694,
         61.58754298,  55.84044972,  81.13334351,  59.34408474,
         61.33143898,  61.89466391,  50.99041148,  66.47069664,
         72.96687384,  55.16550967,  63.69615248,  65.60329602,
         61.75422997,  63.86076234,  56.05615864,  57.85524164,
         69.93035157,  65.73240326,  42.48424559,  62.42762462,
         87.42561133,  96.6664583 ,  73.23822817,  72.55733575,
         52.38530409,  53.88798262,  70.20535033,  79.21841174,
         76.58071939,  54.91958334,  87.79302208,  59.81763498,
         65.32719278,  53.18292931,  41.99926625,  82.17053319,
         50.39139756,  78.53662771,  75.95960146,  70.03209195,
         49.77032119,  76.49389207,  76.27822329,  75.34308876,
         90.17547847,  58.55715855,  90.07134377,  66.96607918,
         51.08086591,  67.59821208,  84.92953211,  81.26224354,
         77.1883837 ,  79.24700597,  65.52603974,  85.63867837,
         86.02909372,  27.23508097,  82.65902085,  78.29752566,
         34.61613057,  55.37824946,  61.68276479,  76.38333346,
         80.12924602,  62.25349193,  47.94900579,  83.4426864 ,
         54.90576342,  72.50650623,  48.26485943,  61.04542912,
         62.55175561,  64.59226244,  55.10641477,  63.22239026,
         64.07421856,  80.65897296,  55.29886619,  94.16374056,
         68.37080138,  84.45861502,  67.24891729,  46.07981783,
         57.01032403,  81.16581329,  67.1196992 ,  71.2540461 ,
         64.01042829,  61.96167873,  30.8276457 ,  70.14324404,
         67.45919514,  71.06964096,  54.80980114,  92.08826076,
         80.92205756,  59.21378156,  66.29422049,  86.95048992,
         52.02330713,  92.6439596 ,  67.90173233,  49.17638996,
         49.97501134,  66.94357004,  76.63848652,  70.8459629 ,
         73.72716629,  69.71851618,  68.95026643,  84.28718467,
         53.38034104,  71.81475095,  78.57957314,  90.02315086,
         89.59921402,  66.86708042,  69.08405858,  60.91092754,
         41.80566564,  49.32847564,  57.88687966,  43.00388024,
         70.67834057,  72.00877935,  73.63836517,  77.68323443,
         83.66257031,  70.40344885,  81.21817821,  44.60813377,
         81.26369269,  50.11360565,  68.20047874,  53.87277983,
         72.69454443,  57.35892971,  81.48674698,  63.27606581,
         25.67656483,  60.08170447,  65.72466301,  24.20436441,
         76.53708833,  63.65521341,  44.16362705,  56.54368752,
         67.11779767,  55.03236198,  74.2785719 ,  52.85292325,
         60.25857244,  58.96449573,  80.10729908,  61.57123868,
         56.40121081,  74.94562653,  67.73140928,  59.85547797,
         69.22139467,  61.12502694,  84.88173282,  56.80370417,
         56.3650324 ,  39.08517589,  58.35508559,  45.96954789,
         63.27481148,  71.01496469,  56.61544333,  66.12091375,
         83.60065815,  71.03230511,  59.07322008,  58.78829238,
         72.18374493,  58.97590138,  75.92430094,  29.47743387,
         86.94753754,  74.30784025,  70.20220979,  59.96452176]),
 'log_acceleration': array([-0.07377895,  0.37966108,  0.16801883, -0.39354961, -0.15323755,
         0.05473507, -1.2658224 ,  0.24262423,  0.3946389 ,  0.1470072 ,
         0.00770488,  0.22487465, -0.22383346,  0.91657931,  0.43526037,
        -0.14660735,  0.77393489,  0.67052699, -0.00978886, -0.76257865,
        -0.45647896,  0.7888035 , -0.07391853,  0.37364328,  0.91181277,
         0.17912702, -0.71535619, -0.57287864,  0.48926599,  0.41433582,
        -0.4737535 ,  0.31517351,  0.73207101, -0.68812841,  0.05865923,
         0.99739766, -1.57019858,  0.59322905, -0.12853759, -0.7097083 ,
        -0.19414483, -0.94354518,  0.08698942, -1.03807787, -0.31002636,
         0.03301465, -0.06477232, -0.79777774, -0.54166592, -0.81761687,
        -0.52996969,  0.9917741 , -0.32519719,  0.56834329, -0.01598084,
         0.32549251, -0.02356772,  1.        ,  0.14432708,  0.87035847,
         0.64186173, -0.53886378, -1.35776025,  0.53375276,  0.90103826,
        -0.01478461, -0.89287861,  0.67740772, -0.01732838,  0.3083229 ,
        -0.44410049,  0.15834447,  0.45192964, -1.02624809,  0.99807784,
        -0.50248294, -0.76801693, -0.66650872, -0.88279699, -0.04253655,
        -0.21201519, -0.66226564, -0.18565805, -0.5373555 , -0.31078646,
         0.09060595, -0.43755032,  0.97331743,  0.61581082,  0.99217016,
        -0.71319107,  0.01274438, -0.30920259, -0.6826391 , -0.09761219,
         0.23486728, -0.64422724,  0.20041472,  0.39190529, -0.0218346 ,
        -0.16509949,  0.98818039,  0.00493064,  0.53491852, -0.0089812 ,
         0.45522575,  0.3210292 ,  0.70157701, -0.25559689,  0.14543462,
         0.41236403,  0.22093704, -0.12754625, -1.16138996,  0.97981392,
        -0.53281328,  0.90348826,  0.16902227,  0.12793659, -0.5989411 ,
        -0.30915624,  0.20657699, -0.71116179, -0.72784439,  0.97572573,
        -1.72262934, -0.79314781, -0.55596817, -0.28352099,  0.50405901,
        -0.89517465,  0.23242444,  0.99979935, -0.18355662, -0.22782016,
         0.47469906,  0.745058  , -0.20341498, -0.96740437,  0.42284428,
         0.81850543, -0.90440269, -0.96970314,  0.83242129, -1.13849444,
         0.1857686 , -0.10573093,  0.3111257 ,  0.84056333,  0.49614009,
         0.35601259, -0.21954579,  0.6100297 ,  0.33248136, -0.07257595,
         0.48264696,  0.19862362, -1.38318672,  0.67132501,  0.05091908,
         0.95543956,  0.81329245,  0.43929764, -0.3306039 , -0.80149985,
         0.90975747, -0.77923094,  0.20145492,  0.58033772,  0.74849405,
        -0.73239833,  0.25461656, -0.2907064 ,  0.98862084,  0.70817743,
        -0.10944848,  1.        ,  1.        ,  0.14889215,  0.93312907,
        -1.06891866, -0.67995689,  0.70237433, -0.12076414, -0.37452236,
        -0.40582339, -1.52026363,  0.00522715,  0.08244116,  0.8991498 ,
         0.48718336, -0.77084889,  0.86652276,  0.87390763, -0.28103865,
        -1.01239606,  0.99912804, -0.27009706, -0.44131879,  0.29858506,
         0.39583313, -0.54863477, -0.60740267, -0.05122477,  0.07865428,
        -0.30491722,  0.97268376,  0.66519034,  0.5370157 ,  0.25398615,
        -0.24935395,  0.96845397,  0.1497304 , -0.02518226,  0.98952582,
        -0.06933753, -0.73929879,  0.89613664,  0.8155954 ,  0.9993561 ,
         0.77853677, -0.53998327,  0.23058547, -0.48576203, -0.18263721,
         0.05260673,  0.13458996,  0.98367456, -1.38617035,  0.33779586,
         0.1883351 ,  0.4931464 , -0.643449  ,  0.08297891,  0.49932696,
        -0.57311864, -0.19155386,  0.07613975,  0.96689867, -0.27922598]),
 'sources': array([[ 1.5985363 ],
        [ 0.45174941],
        [ 1.0856501 ],
        [-0.4492264 ],
        [-2.26825556],
        [ 0.48222824],
        [ 3.08723955],
        [ 1.31082271],
        [-1.73127338],
        [ 1.18666023],
        [-0.2102634 ],
        [ 0.77052075],
        [-0.69783257],
        [ 1.27663834],
        [-0.04866429],
        [ 3.92959689],
        [ 0.86285389],
        [-2.43365772],
        [-0.52246112],
        [-0.31731794],
        [ 1.24582233],
        [-1.1658712 ],
        [-0.67084388],
        [-2.25992617],
        [-0.5141902 ],
        [ 1.44554538],
        [-0.65444816],
        [ 0.8129259 ],
        [-1.0252221 ],
        [ 0.34882355],
        [-0.39780157],
        [-0.58284377],
        [ 1.80106564],
        [ 1.1581727 ],
        [-0.59691188],
        [-0.22429977],
        [-1.53513075],
        [-0.17197058],
        [-0.24594352],
        [ 0.2247767 ],
        [ 0.08083803],
        [ 3.33855103],
        [ 1.03814556],
        [ 1.07088144],
        [ 0.33856232],
        [-0.74330069],
        [ 2.16978192],
        [ 1.87980817],
        [-0.9553442 ],
        [-0.37986473],
        [-0.19341683],
        [-2.63207341],
        [ 0.66625746],
        [-0.12023968],
        [-0.76420309],
        [-1.49620453],
        [-1.16250884],
        [-2.27533545],
        [-0.24767536],
        [ 0.60998344],
        [-1.66030111],
        [-1.43476407],
        [-1.04415453],
        [-0.41939615],
        [-1.03091032],
        [-1.48853285],
        [-2.26049031],
        [-1.80152463],
        [-0.94983045],
        [ 0.75983945],
        [-0.74283389],
        [-1.40429996],
        [-3.75202826],
        [-0.79532088],
        [-0.92476226],
        [-2.65509511],
        [ 0.20180236],
        [ 1.83517165],
        [ 0.90591953],
        [-1.08231625],
        [-1.019712  ],
        [ 0.99019623],
        [ 1.5048633 ],
        [ 0.25447301],
        [-1.88179649],
        [ 1.06608633],
        [-0.99959763],
        [-0.30512426],
        [-0.50393443],
        [-4.28999285],
        [ 1.46913802],
        [-1.43451204],
        [-0.20964308],
        [ 1.19044951],
        [-0.8818364 ],
        [-0.97635507],
        [ 1.58751069],
        [ 0.94394708],
        [-0.73096797],
        [ 0.19321881],
        [-0.31333637],
        [ 2.0702255 ],
        [-1.10075779],
        [-0.94560449],
        [-1.25771355],
        [-1.67882169],
        [-0.70897624],
        [-0.76898569],
        [-1.0313712 ],
        [ 1.43184902],
        [ 0.70314078],
        [-0.27049309],
        [-0.85183905],
        [ 0.3736462 ],
        [-0.00983542],
        [-1.0152598 ],
        [ 0.16524932],
        [ 1.4443392 ],
        [ 0.97505095],
        [-0.67897004],
        [-0.24674973],
        [ 1.00445841],
        [ 3.2152133 ],
        [-1.64870109],
        [ 0.42865048],
        [-0.96810081],
        [-0.45808071],
        [ 1.26795033],
        [ 1.82072239],
        [-0.0592925 ],
        [-0.21904217],
        [-4.00626313],
        [ 0.32525814],
        [-1.33102379],
        [-0.41886802],
        [-0.7577179 ],
        [-1.62026458],
        [-0.18830727],
        [-1.26380288],
        [-1.42389758],
        [-0.58016154],
        [ 0.61740421],
        [-0.65770771],
        [ 1.18215962],
        [ 1.16900522],
        [-0.47669521],
        [ 0.6267885 ],
        [ 1.1179462 ],
        [ 0.36286993],
        [-0.37662559],
        [-0.46530046],
        [-0.98528406],
        [-0.04647193],
        [ 0.02471078],
        [-0.07910182],
        [-1.33542453],
        [-0.44281006],
        [ 2.35028405],
        [ 1.4531669 ],
        [-0.79055922],
        [ 0.8319988 ],
        [ 0.50113323],
        [-0.1456605 ],
        [-0.14119663],
        [-0.89068307],
        [-1.37909489],
        [ 1.01913219],
        [ 0.13837639],
        [-0.03152981],
        [-1.14263826],
        [-0.63641794],
        [-1.06815576],
        [-0.78795866],
        [-2.15763374],
        [-1.02404194],
        [ 0.24615866],
        [ 1.36522766],
        [-1.03414188],
        [-0.22024656],
        [-0.32379696],
        [ 1.03764379],
        [ 1.38894247],
        [ 0.05191466],
        [-2.22550145],
        [-0.0649043 ],
        [ 0.83520158],
        [ 1.4684209 ],
        [ 1.22930074],
        [ 0.63301477],
        [-3.82556001],
        [ 2.05089829],
        [ 4.0011996 ],
        [-0.48825784],
        [-0.80120945],
        [-0.16355533],
        [ 3.19519434],
        [ 0.31080166],
        [-0.43362615],
        [-0.62181728],
        [-1.33155023],
        [-0.96276235],
        [ 0.08218507],
        [-0.40590978],
        [-2.22070306],
        [-0.3803246 ],
        [-2.27687138],
        [-0.34773429],
        [ 1.17865721],
        [-0.60044605],
        [-4.48325363],
        [ 1.72305642],
        [-3.17509016],
        [-1.38584909],
        [-1.01603806],
        [-0.34472752],
        [-0.00918554],
        [ 2.38098398],
        [ 0.0515778 ],
        [-2.09491618],
        [-0.43328856],
        [-0.41497422],
        [-0.24538641],
        [-2.07164185],
        [-1.05397867],
        [ 1.75831726],
        [ 0.7742511 ],
        [ 0.84246062],
        [-0.61724586],
        [-0.46074788],
        [ 1.17142227],
        [-0.40037626],
        [-4.15126494],
        [ 0.67146465],
        [ 1.22561589],
        [-0.46238217],
        [-1.469449  ],
        [-0.3988479 ],
        [ 0.82805492],
        [-0.89464801],
        [-1.53655851]])}

In [22]:
data = pd.DataFrame(index=[ids, times], columns=['adas_memory', 'hippocampus'])
data['adas_memory'] = adas_memory
data['hippocampus'] = hippocampus
data

                adas_memory  hippocampus
4    74.868477     0.407333     0.377389
     75.075706     0.518444     0.375055
     75.282936     0.466667     0.364087
     75.490158     0.540667     0.382969
     76.111847     0.511111     0.429288
...                     ...          ...
1425 78.461342     0.540667     0.242699
     79.093491     0.607333     0.267690
1430 84.350166     0.577778     0.745385
     84.780472     0.659333     0.774981
     86.071396     0.770444     0.804698

[942 rows x 2 columns]

In [44]:
times = [time[0] for time in pd.read_csv(path+'/output_5/LongitudinalMetricModel_absolute_times.txt', header=None).values]
logistic = [score[0] for score in pd.read_csv(path+'/simulated_data_5/Y.csv', header=None).values]
sum_logistic = [score[1] for score in pd.read_csv(path+'/simulated_data_5/Y.csv', header=None).values]
ids = [int(idx[0]) for idx in pd.read_csv(path+'/output_5/LongitudinalMetricModel_subject_ids.txt', header=None).values]

In [45]:
data = pd.DataFrame(index=[ids, times], columns=['logistic', 'sum_logistic'])
data['logistic'] = logistic
data['sum_logistic'] = sum_logistic
data

              logistic  sum_logistic
0  96.094437  0.825440      0.758157
   96.597565  0.694294      0.864409
   97.100685  0.733746      0.803578
   97.603806  0.572616      0.974391
   98.106934  0.807546      0.816188
...                ...           ...
99 75.555489  0.740701      0.581178
   75.777214  0.596949      0.658479
   75.998947  0.633617      0.734469
   76.220680  0.524243      0.633501
   76.442413  0.640262      0.621080

[800 rows x 2 columns]

In [58]:
individual_parameters = pd.read_csv(path+'/simulated_data_5/true_individual_parameters.csv').set_index('Unnamed: 0')
individual_parameters.index.name = 'ID'
individual_parameters

          xi        tau    source
ID
0  -0.057622  64.533047 -2.892781
1  -0.586603  68.477432  4.401125
2   0.299599  57.162128 -2.918315
3  -1.085045  75.067964 -7.672403
4   0.114910  58.931843 -0.342369
..       ...        ...       ...
95  0.212753  58.217001 -6.283154
96  0.672398  54.109809 -3.066973
97 -0.109101  62.784147 -1.224788
98  0.494468  77.708597 -2.392265
99  0.311029  63.540664  1.697126

[100 rows x 3 columns]

In [85]:
tau = [tau[0] for tau in pd.read_csv(path+'/preprocessing_5/2_gradient_descent_on_the_mode/LongitudinalMetricModel_onset_ages.txt', header=None).values]
xi = [xi[0] for xi in pd.read_csv(path+'/preprocessing_5/2_gradient_descent_on_the_mode/LongitudinalMetricModel_log_accelerations.txt', header=None).values]
sources = [np.float(sources) for sources in pd.read_csv(path+'/preprocessing_5/2_gradient_descent_on_the_mode/LongitudinalMetricModel_sources.txt', header=None).values]

individual_parameters_after_initialization = pd.DataFrame(columns=individual_parameters.columns, index=individual_parameters.index)
individual_parameters_after_initialization['tau'] = tau
individual_parameters_after_initialization['xi'] = xi
individual_parameters_after_initialization['source'] = sources

In [77]:
tau = [tau[0] for tau in pd.read_csv(path+'/output_5/LongitudinalMetricModel_onset_ages.txt', header=None).values]
xi = [xi[0] for xi in pd.read_csv(path+'/output_5/LongitudinalMetricModel_log_accelerations.txt', header=None).values]
sources = [np.float(sources) for sources in pd.read_csv(path+'/output_5/LongitudinalMetricModel_sources.txt', header=None).values]

estimated_ip = pd.DataFrame(columns=individual_parameters.columns, index=individual_parameters.index)
estimated_ip['tau'] = tau
estimated_ip['xi'] = xi
estimated_ip['source'] = sources

In [87]:
abs(individual_parameters - estimated_ip).describe()

               xi         tau      source
count  100.000000  100.000000  100.000000
mean     0.613673    6.197021    3.717563
std      0.443893    5.500334    2.648419
min      0.008004    0.050568    0.076580
25%      0.272298    2.280326    1.710237
50%      0.545160    4.485741    3.279438
75%      0.848787    8.421963    5.324163
max      1.950411   25.907011   12.640162

In [32]:
path = 'mds_study'
times = [time[0] for time in pd.read_csv(path+'/output/LongitudinalMetricModel_absolute_times.txt', header=None).values]
mds1 = [score[0] for score in pd.read_csv(path+'/mds_data/MDS_values.csv', header=None).values]
mds2 = [score[1] for score in pd.read_csv(path+'/mds_data/MDS_values.csv', header=None).values]
ids = [int(idx[0]) for idx in pd.read_csv(path+'/output/LongitudinalMetricModel_subject_ids.txt', header=None).values]

In [33]:
data = pd.DataFrame(index=[ids, times], columns=['mds1', 'mds2'])
data['mds1'] = mds1
data['mds2'] = mds2
data

                    mds1      mds2
3001 59.910362  0.500000  0.133333
     59.982315  0.571429  0.133333
     60.215916  0.500000  0.133333
     60.449516  0.500000  0.200000
     60.683113  0.571429  0.200000
...                  ...       ...
3467 71.582550  0.500000  0.733333
     71.708649  0.714286  0.800000
     71.957832  0.357143  0.733333
     72.333115  0.357143  0.666667
     72.708397  0.357143  0.733333

[3000 rows x 2 columns]

In [35]:
reconstructed = pd.read_csv('mds_study/personalize_output/LongitudinalMetricModel_reconstructed_values.txt', sep=' ', header=None)
reconstructed.columns = ['mds1', 'mds2']
reconstructed.index = data.index

In [36]:
abs(reconstructed-data).describe()

              mds1         mds2
count  3000.000000  3000.000000
mean      0.163081     0.180404
std       0.134820     0.168752
min       0.000148     0.000094
25%       0.061791     0.060085
50%       0.131837     0.135601
75%       0.231493     0.250328
max       1.103094     2.036188

## 2. Evaluating the reconstruction error

In [10]:
path = 'mds_study'
args = {'verbosity':'INFO', 'output':'personalize',
        'model':path+'/model_after_fit.xml', 'dataset':path+'/data_set.xml', 'parameters':path+'/optimization_parameters_saem.xml'}


"""
Read xml files, set general settings, and call the adapted function.
"""

xml_parameters = dfca.io.XmlParameters()
xml_parameters.read_all_xmls(args['model'],
                             args['dataset'],
                             args['parameters'])

logger = logging.getLogger(__name__)
logging.getLogger('matplotlib').setLevel(logging.ERROR)
logger.setLevel(logging.INFO)

/home/benoit.sautydechalon/deformetrica/deformetrica/in_out/xml_parameters.py:579: UserWarning: Unknown entry while parsing the optimization_parameters xml: number-of-threads
  warnings.warn(msg)

In [11]:
dataset = read_and_create_scalar_dataset(xml_parameters)
model, individual_RER = instantiate_longitudinal_metric_model(xml_parameters, logger, dataset, observation_type='scalar')

INFO:__main__:Setting initial onset ages from mds_study/output/LongitudinalMetricModel_onset_ages.txt file
INFO:__main__:Setting initial log accelerations from mds_study/output/LongitudinalMetricModel_log_accelerations.txt file
INFO:__main__:Initializing exponential type to parametric
INFO:__main__:Loading metric parameters from file mds_study/output/LongitudinalMetricModel_metric_parameters.txt
INFO:__main__:Loading the interpolation points from file mds_study/output/LongitudinalMetricModel_interpolation_points.txt
INFO:__main__:The width for the metric interpolation is set to 0.3
INFO:__main__:I am setting the no_parallel_transport flag to False.
INFO:__main__:>> Reading 1-source initial modulation matrix from file: mds_study/output/LongitudinalMetricModel_modulation_matrix.txt
INFO:__main__:Setting initial sources from mds_study/output/LongitudinalMetricModel_sources.txt file
INFO:deformetrica.core.models.longitudinal_metric_learning:Acceleration factors max/min: (2.7182817, 57, 0.1794896, 125)

Patient  196  was estimated with an absurd timeshift tensor(126.3761)
In geodesic update ,  40 65.23617055599765 110

INFO:deformetrica.core.models.longitudinal_metric_learning:Tmin 40 Tmax 110 Update of the spatiotemporalframe: 1421 ms
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:__main__:>> Initial noise variance set to 0.0858975490598629 based on the initial mean residual value.
INFO:deformetrica.core.models.longitudinal_metric_learning:>> The time shift variance prior degrees of freedom parameter is set to 240
INFO:deformetrica.core.models.longitudinal_metric_learning:>> The log-acceleration variance prior degrees of freedom parameter is set to the number of subjects: 240
INFO:deformetrica.core.models.longitudinal_metric_learning:('v0', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('p0', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('reference_time', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('onset_age_variance', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('log_acceleration_variance', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('noise_variance', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('metric_parameters', False)
INFO:deformetrica.core.models.longitudinal_metric_learning:('modulation_matrix', False)

In [12]:
v0, p0, metric_parameters, modulation_matrix = model._fixed_effects_to_torch_tensors(False)
onset_ages, log_accelerations, sources = model._individual_RER_to_torch_tensors(averaged_rer, False)
t0 = model.get_reference_time()

absolute_times = model._compute_absolute_times(dataset.times, log_accelerations, onset_ages)

absolute_times_to_write = []
for elt in absolute_times:
    for e in elt.cpu().data.numpy():
        absolute_times_to_write.append(e)

#np.savetxt(os.path.join(Settings().output_dir, "LongitudinalMetricModel_absolute_times.txt"), np.array(absolute_times_to_write))

accelerations = torch.exp(log_accelerations)

model._update_spatiotemporal_reference_frame(absolute_times, p0, v0, metric_parameters,
                                            modulation_matrix)

INFO:deformetrica.core.models.longitudinal_metric_learning:Acceleration factors max/min: (2.7182817, 57, 0.17859595, 125)

Patient  196  was estimated with an absurd timeshift tensor(126.3209)
In geodesic update ,  40 65.23617055599765 110

INFO:deformetrica.core.models.longitudinal_metric_learning:Tmin 40 Tmax 110 Update of the spatiotemporalframe: 1510 ms

In [13]:
predictions = []
subject_ids = []
times = []

targets = dataset.deformable_objects

number_of_subjects = dataset.number_of_subjects
residuals = []

for i in range(number_of_subjects):
    predictions_i = []
    for j, t in enumerate(absolute_times[i]):
        if sources is not None:
            prediction = model.spatiotemporal_reference_frame.get_position(t, sources=sources[i])
        else:
            prediction = model.spatiotemporal_reference_frame.get_position(t)
        predictions_i.append(prediction.cpu().data.numpy())
        predictions.append(prediction.cpu().data.numpy())
        subject_ids.append(dataset.subject_ids[i])
        times.append(dataset.times[i][j])

    targets_i = targets[i].cpu().data.numpy()

    residuals.append(np.linalg.norm(predictions_i - targets_i, axis=0, ord=1)/len(absolute_times[i]))

INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints below tmin
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax
INFO:deformetrica.core.model_tools.manifolds.generic_geodesic:Want to estimate timepoints above tmax

In [14]:
predicted = data.copy()
predicted['mds1'] = [prediction[0] for prediction in predictions]
predicted['mds2'] = [prediction[1] for prediction in predictions]

In [15]:
diff = predicted - data
abs(diff).describe()

              mds1         mds2
count  3000.000000  3000.000000
mean      0.155629     0.151568
std       0.131285     0.145380
min       0.000059     0.000157
25%       0.058197     0.052837
50%       0.123773     0.112176
75%       0.215987     0.203136
max       1.057793     1.719999

In [134]:
predicted.describe()

       adas_memory  hippocampus
count   942.000000   942.000000
mean      0.374100     0.437007
std       0.285419     0.619094
min      -0.323792    -0.617507
25%       0.253271    -0.115440
50%       0.474453     0.482866
75%       0.556344     0.922737
max       0.937028     1.572575

In [129]:
data.describe(percentiles=[.9])

       adas_memory  hippocampus
count   942.000000   942.000000
mean      0.483881     0.430180
std       0.175045     0.181203
min       0.066667     0.000000
50%       0.488889     0.432856
90%       0.711111     0.648502
max       0.985111     1.000000